body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98vw;
  height: 97vh;
  background-color: #0a0a23;
}

.game {
  width: 80%;
  height: 60%;
  background-color: rgb(129, 116, 105);
  border-radius: 20px;
}
#text {
  padding: 10px;
  background-color: #0a0a23;
  color: white;
}

#controls, #stats, #monsterStats {
  border: solid 1px #0a0a23;
  color: #0a0a23;
  padding: 5px;
}
#monsterStats {
  display: none;
  background-color: #c70d0d;
  padding: 5px;
  color: #ffffff;
}

.stat {
  padding-right: 10px;
}